.box {
    display: flex;
    margin: 0;
}

.box-inputtext {
    width: 200px;
    border: 1px black;
}

.box-isprimeorfibo {
    width: 100%;
    min-width: 100px;
}

.box-result {
    width: 300px;
}

